@import url("https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@import "tailwindcss";

@theme {
  --color-red-secondary: #db073d;
  --color-dirty-white: #ede5f4;
  --color-blue-primary: #0d6986;
  --color-blue-dark: #07485b;
  --color-blue-light: #8ec7d2;
  --color-dw-light: #eae7ee;

  --font-inknut: "Inknut Antiqua";
  --font-ptsans: "PT Sans";
}

html {
  scroll-behavior: smooth;
  font-family: "PT Sans";
}
